<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" android:versionName="1.1.0" package="com.minnick.imagedatabasesample" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="ImageDatabaseSample"></application>
</manifest>